:root{
    --white-color: #fff;
    --black-color:#000;
    --gray-color: #CCCCCC;
    --primary-color: #3A4B53;
    --secondary-color: #4D636F;
    --tertiary-color: #DFE5E8;
    --green-color: #94CF96;
    --red-color: #F88E86;
    --background-color:#F5F7F8;
}